/* styles.css */

  
  header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #f1f1f1;
  }

  header img {
    max-width: 100%; /* Ensure the image fits within the container */
  }


  .container {
    display: flex;
    flex-direction: column;
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .form-row label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .event {
    border: 1px solid #ccc;
    padding: 10px;
  }
  